[Unit]
Description=Move files from input to output folder and delete old files from output folder.
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/nextcloud_micos_export
ExecStart=python3 -m nextcloud_micos_export

[Install]
WantedBy=multi-user.target