[Unit]
Description=Move files from input to output folder and delete old files from output folder.
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/
ExecStart=python3 -m nextcloudmicosexport

[Install]
WantedBy=multi-user.target